<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="z1description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import z1description urdf file -->
    <xacro:include filename="$(find z1description)/urdf/robot.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="z1description.ros2_control.xacro" />


    <xacro:z1description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
